@model Beers.web.Models.Beer.BeerViewModelIndex

<h2>Index</h2>

@Html.ActionLink("Create new Beer","Create");

<div>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Graduation
            </th>
            <th>
                Type
            </th>
            <th>
                Country
            </th>
        </tr>
       
    </table>
</div>